/*BASE FONTS*/
/*END BASE FONTS*/
/*BASE FONT COLORS*/
/*END BASE FONT COLORS*/
/*BASE COLORS*/
/*END BASE COLORS*/
/*MIXINS*/
/*END MIXINS*/
/*DEFAULT STYLES*/
* {
  box-sizing: border-box;
  position: relative;
  -webkit-outline: none;
  -moz-outline: none;
  -o-outline: none;
  outline: none;
}

html, body {
  font-family: "Open Sans";
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

.nav > li > a {
  padding: 0;
}

/*END DEFAULT STYLES*/
/*USEFULL STYLES*/
.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.click-class {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.blackPattern {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.blackPattern2 {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.imagePattern {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/patern.png") repeat;
}

.colorTextWhite {
  color: #ffffff;
}

.colorTextGrey {
  color: #4a4a4a;
}

.colorTextBlue {
  color: #1d3971;
}

.colorTextRed {
  color: #dc5959;
}

.breakLineCenter {
  display: block;
  height: 2px;
  max-width: 164px;
  width: 100%;
  margin: 30px auto;
  background: #1d3971;
}
@media (max-width: 991px) {
  .breakLineCenter {
    margin: 20px auto;
  }
}
@media (max-width: 768px) {
  .breakLineCenter {
    max-width: 80px;
    margin: 10px auto;
  }
}

.breakLineLeft {
  display: block;
  height: 2px;
  max-width: 80px;
  width: 100%;
  margin: 30px 0;
  background: #1d3971;
}

.minheight {
  min-height: 100vh;
  display: block;
}

.sectionBox {
  padding: 70px 0 70px 0;
  z-index: 10;
}
@media (max-width: 768px) {
  .sectionBox {
    padding: 40px 0 40px 0;
  }
}

.mainSectionCenter {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 568px) {
  .mainSectionCenter {
    width: 90%;
  }
}

.logo {
  margin-bottom: 100px;
}
.logo img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 160px;
}
@media (max-width: 991px) {
  .logo {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .logo {
    margin-bottom: 60px;
  }
}
@media (max-width: 568px) {
  .logo {
    margin-bottom: 40px;
  }
}

.mainDescription {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-bottom: 100px;
}
.mainDescription h2 {
  line-height: 1.2;
  letter-spacing: 1.2px;
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .mainDescription h2 {
    font-size: 30px;
    font-weight: 300;
  }
}
@media (max-width: 991px) {
  .mainDescription h2 {
    font-size: 20px;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .mainDescription h2 {
    font-size: 15px;
    font-weight: 300;
  }
}
@media (max-width: 568px) {
  .mainDescription h2 {
    font-size: 14px;
    font-weight: 300;
  }
}

.bottomArrow {
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 4;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (max-width: 768px) {
  .bottomArrow {
    bottom: 50px;
  }
}
.bottomArrow:hover {
  -webkit-animation: mymove 3s infinite;
  /* Chrome, Safari, Opera */
  animation: mymove 3s infinite;
  /* Chrome, Safari, Opera */
  /* Standard syntax */
}
@-webkit-keyframes mymove {
  0% {
    bottom: 130px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 130px;
  }
}
@keyframes mymove {
  0% {
    bottom: 130px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 130px;
  }
}
@media (max-width: 768px) {
  .bottomArrow:hover {
    /* Chrome, Safari, Opera */
    /* Standard syntax */
  }
  @-webkit-keyframes mymove {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 35px;
    }
    100% {
      bottom: 50px;
    }
  }
  @keyframes mymove {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 35px;
    }
    100% {
      bottom: 50px;
    }
  }
}
.bottomArrow a {
  background: transparent;
  border: 0;
}

/*END USEFULL STYLES*/
/*MENU HEADER*/
#menu {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  border-top: 1px #ffffff solid;
  z-index: 10;
}
@media (max-width: 768px) {
  #menu {
    display: none;
  }
}

.navMenu {
  list-style: none;
  color: #ffffff;
  display: table;
  margin: 0 auto;
}
.navMenu li {
  float: left;
  font-size: 20px;
  font-weight: 400;
}
.navMenu li a {
  color: #ffffff;
  display: block;
  padding: 10px 25px;
}

.menuMobile {
  display: none;
  min-width: 100vw;
  width: 100%;
  height: auto;
  background: rgba(29, 57, 113, 0.8);
  position: fixed;
  top: -300px;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 768px) {
  .menuMobile {
    display: block;
  }
}
.menuMobile .navMenuMobile {
  list-style: none;
  color: #ffffff;
  display: table;
  margin: 0 auto;
}
.menuMobile .navMenuMobile a {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.showMenuMobile {
  opacity: 1;
  visibility: visible;
  top: 0;
}

#hamburger {
  display: none;
  width: 40px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 99999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@media (max-width: 768px) {
  #hamburger {
    display: block;
  }
}

#hamburger span {
  position: absolute;
  left: 0;
  height: 6px;
  width: 100%;
  background: #ffffff;
  border-radius: 7px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 12px;
}

#hamburger span:nth-child(3) {
  top: 24px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

header#mainScroll {
  position: fixed;
  background-color: #ffffff;
  top: -100px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  color: #4a4a4a;
  min-height: 80px;
  border-bottom: 2px solid #1d3971;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  header#mainScroll {
    display: none;
  }
}
header#mainScroll .logoMainScroll {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 50px;
  width: 200px;
}
@media (max-width: 991px) {
  header#mainScroll .logoMainScroll {
    top: 17px;
    left: 20px;
    height: 40px;
    width: 150px;
  }
}
header#mainScroll .menuHolder {
  position: absolute;
  display: table;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  header#mainScroll .menuHolder {
    -webkit-transform: translate(-35%, -50%);
    -moz-transform: translate(-35%, -50%);
    -o-transform: translate(-35%, -50%);
    transform: translate(-35%, -50%);
  }
}
header#mainScroll .menuHolder ul.navMenuScroll {
  list-style: none;
  margin-bottom: 0;
}
header#mainScroll .menuHolder ul.navMenuScroll li {
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  header#mainScroll .menuHolder ul.navMenuScroll li {
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  header#mainScroll .menuHolder ul.navMenuScroll li {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
  }
}
header#mainScroll .socialHolder {
  position: absolute;
  top: 25px;
  right: 20px;
}
header#mainScroll .socialHolder ul.social li {
  display: inline-block;
}
header#mainScroll .socialHolder ul.social li .buttonPhone {
  border: none;
  background: transparent;
}
header#mainScroll .socialHolder ul.social li .buttonMail {
  border: none;
  background: transparent;
  margin-right: 10px;
}
header#mainScroll .socialHolder ul.social li .mailDropDown {
  right: 0;
  left: initial;
  border: 1px solid #1d3971;
}
header#mainScroll .socialHolder ul.social li .mailDropDown a {
  color: #4a4a4a;
}
header#mainScroll .socialHolder ul.social li .phoneDropDown {
  right: 0;
  left: initial;
  border: 1px solid #1d3971;
}
header#mainScroll .socialHolder ul.social li .phoneDropDown a {
  color: #4a4a4a;
}

.menuHide {
  visibility: hidden !important;
  opacity: 0 !important;
  top: -170px !important;
}

.menuShow {
  top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

/*END MENU HEADER*/
/*SECTION MAIN*/
.mainSection {
  min-height: 100vh;
  display: block;
  background: no-repeat center center;
  background-size: cover;
}

/*END SECTION MAIN*/
/*SECTION OFFER*/
.offer {
  display: block;
}

.sectionCenter {
  top: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (max-width: 768px) {
  .sectionCenter {
    margin-top: 30px;
  }
}

.sectionDescription {
  margin-bottom: 25px;
  font-style: normal;
}
.sectionDescription h2 {
  font-weight: 600;
}

.offerCarousel {
  padding-top: 40px;
  margin: 0 auto;
  width: 60%;
}
@media (max-width: 1200px) {
  .offerCarousel {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .offerCarousel {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .offerCarousel {
    width: 90%;
    top: 60%;
  }
}
.offerCarousel .carousel-inner {
  width: 80%;
  margin: 0 auto;
}
.offerCarousel .carousel-control.left, .offerCarousel .carousel-control.right {
  background-image: none;
  width: 15%;
}
.offerCarousel .carousel-control {
  top: 20%;
}
@media (max-width: 768px) {
  .offerCarousel .carousel-control {
    top: 30%;
  }
}
@media (max-width: 768px) {
  .offerCarousel .offerBox {
    height: 115px;
  }
}
.offerCarousel .offerIcon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #1d3971;
  width: 190px;
  height: 190px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .offerCarousel .offerIcon {
    width: 140px;
    height: 140px;
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .offerCarousel .offerIcon {
    width: 60px;
    height: 60px;
    padding: 20px;
  }
}
.offerCarousel .offerIcon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .offerCarousel .offerIcon img {
    width: 30px;
    height: 30px;
  }
}
.offerCarousel .offerDescription {
  padding: 30px 25px 0 25px;
  height: 110px;
}
@media (max-width: 768px) {
  .offerCarousel .offerDescription {
    padding: 15px 25px 15px 25px;
  }
}
.offerCarousel .offerDescription p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}
@media (max-width: 991px) {
  .offerCarousel .offerDescription p {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .offerCarousel .offerDescription p {
    font-size: 14px;
    font-weight: 400;
  }
}

/*END SECTION OFFER*/
/*START SECTION SPECIALIZATION*/
.specialization {
  display: block;
  background: no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 991px) {
  .specialization {
    background-attachment: scroll;
  }
}

.aboutSection {
  text-align: center;
  padding: 80px 100px 100px 100px;
}
@media (max-width: 991px) {
  .aboutSection {
    padding: 50px 20px 50px 20px;
  }
}
.aboutSection h3 {
  color: #ffffff;
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  font-family: "Open Sans";
  font-style: italic;
}
@media (max-width: 1200px) {
  .aboutSection h3 {
    font-size: 30px;
    font-weight: 300;
  }
}
@media (max-width: 991px) {
  .aboutSection h3 {
    font-size: 20px;
    font-weight: 300;
  }
}

.buttonMore {
  position: relative;
  outline: none;
  background: #1d3971;
  cursor: pointer;
  max-width: 210px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}
.buttonMore::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .buttonMore {
    font-size: 14px;
    font-weight: 400;
  }
}

.buttonMore-1 {
  color: #ffffff;
  z-index: 2;
}

.buttonMore-2 {
  border: 2px solid #ffffff;
}
.buttonMore-2::after {
  width: 101%;
  height: 0;
  top: -1px;
  left: -1px;
  background: #ffffff;
}
.buttonMore-2:hover, .buttonMore-2:active, .buttonMore-2:focus {
  color: #1d3971;
  z-index: 1;
}
.buttonMore-2:hover::after, .buttonMore-2:active::after, .buttonMore-2:focus::after {
  height: 102%;
}

/*END SECTION SPECIALIZATION*/
/*START SECTION RECOMMENDATION*/
.recommendation {
  display: block;
}

.recommendationCarousel {
  margin: 0 auto;
  width: 60%;
}
@media (max-width: 1200px) {
  .recommendationCarousel {
    width: 70%;
  }
}
@media (max-width: 991px) {
  .recommendationCarousel {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .recommendationCarousel {
    width: 90%;
  }
}
.recommendationCarousel .carousel-control.left, .recommendationCarousel .carousel-control.right {
  background-image: none;
  width: 12%;
}
.recommendationCarousel .carousel-control {
  top: 28%;
}
.recommendationCarousel .recommendationBox {
  width: 35%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .recommendationCarousel .recommendationBox {
    width: 45%;
  }
}
@media (max-width: 991px) {
  .recommendationCarousel .recommendationBox {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .recommendationCarousel .recommendationBox {
    width: 70%;
  }
}
.recommendationCarousel .recommendationBox h2 {
  text-align: center;
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans";
  font-style: italic;
  letter-spacing: 1px;
  line-height: 2;
}
@media (max-width: 768px) {
  .recommendationCarousel .recommendationBox h2 {
    font-size: 16px;
    font-weight: 600;
  }
}
.recommendationCarousel .recommendationBox h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #1d3971;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .recommendationCarousel .recommendationBox h3 {
    font-size: 16px;
    font-weight: 600;
  }
}

/*END SECTION RECOMMENDATION*/
/*START SECTION MEETUS*/
.meetus {
  display: block;
  background: no-repeat center center;
  background-size: cover;
}

.mainSectionColumn {
  width: 60%;
}

.aboutSectionColumn {
  padding: 50px 20px 120px 20px;
}
@media (max-width: 991px) {
  .aboutSectionColumn {
    padding: 50px 20px 50px 20px;
  }
}

/*END SECTION MEETUS*/
/*START SECTION ABOUTOFFICE*/
.aboutoffice {
  display: block;
  background: no-repeat center center;
  background-size: cover;
}

/*END SECTION ABOUTOFFICE*/
/*START SECTION MAP*/
#map_page {
  width: 100%;
}
#map_page #map {
  width: 100%;
  height: 450px;
}

/*END SECTION MAP*/
/*START SECTION CONTACT*/
.contactForm .minheight {
  min-height: 90vh;
}
.contactForm .form {
  width: 60%;
  padding: 250px 0 60px 0;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .contactForm .form {
    padding: 150px 0 60px 0;
    width: 80%;
  }
}
@media (max-width: 568px) {
  .contactForm .form {
    padding: 100px 0 30px 0;
    width: 90%;
  }
}
.contactForm .form .contact-form {
  height: 60px;
  border: 1px solid #1d3971;
  margin-bottom: 30px;
  border-radius: 0;
  color: #4a4a4a;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .contactForm .form .contact-form {
    font-size: 16px;
    font-weight: 300;
  }
}
@media (max-width: 568px) {
  .contactForm .form .contact-form {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
  }
}
.contactForm .form .contact-area {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #1d3971;
  color: #4a4a4a;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  min-height: 150px;
  border-radius: 0;
}
@media (max-width: 991px) {
  .contactForm .form .contact-area {
    font-size: 16px;
    font-weight: 300;
  }
}
.contactForm .buttonMore {
  background-color: #1d3971;
  padding: 20px 80px 20px 80px;
  z-index: 2;
}
.contactForm .buttonMore::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .contactForm .buttonMore {
    font-size: 14px;
    font-weight: 400;
  }
}
.contactForm .buttonMore-1 {
  color: #ffffff;
  z-index: 2;
}
.contactForm .buttonMore-2 {
  border: 2px solid #1d3971;
}
.contactForm .buttonMore-2::after {
  width: 101%;
  height: 0;
  top: -1px;
  left: -1px;
  background: #ffffff;
}
.contactForm .buttonMore-2:hover, .contactForm .buttonMore-2:active, .contactForm .buttonMore-2:focus {
  color: #1d3971;
  z-index: 1;
}
.contactForm .buttonMore-2:hover::after, .contactForm .buttonMore-2:active::after, .contactForm .buttonMore-2:focus::after {
  height: 102%;
}
.contactForm .iconContact {
  padding: 50px 0 70px 0;
  display: block;
}
@media (max-width: 568px) {
  .contactForm .iconContact {
    padding: 30px 0 50px 0;
  }
}
.contactForm .iconContact ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contactForm .iconContact ul li {
  display: inline-block;
  margin-top: 20px;
  padding-right: 20px;
}
.contactForm .iconContact ul li img {
  padding: 3px 20px 0 0;
  float: left;
}

/*END SECTION CONTACT*/
/*START SECTION FOOTER*/
.footerLogo {
  background-color: #2c4475;
}
.footerLogo .minheight {
  min-height: 15vh;
}
.footerLogo .logoFooter {
  margin-bottom: 0;
}
.footerLogo .logoFooter img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
@media (max-width: 768px) {
  .footerLogo .logoFooter img {
    width: 100px;
    height: 100px;
  }
}

footer {
  background-color: #1d3971;
  width: 100%;
  height: 50px;
}
footer .copyright {
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}
footer .copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 768px) {
  footer .copyright p {
    font-size: 12px;
    font-weight: 400;
  }
}
footer .copyright p a {
  color: #dc5959;
}
footer .copyright p a:hover, footer .copyright p a:focus, footer .copyright p a:active {
  color: #dc5959;
}

/*END SECTION FOOTER*/
/*START SUBSITE*/
.mainSectionSubsite {
  min-height: 350px;
  display: block;
  background: no-repeat center center;
  background-size: cover;
}
.mainSectionSubsite .minheight {
  min-height: inherit;
}

#page-top #mainScroll.mainScrollFixed {
  position: fixed;
  z-index: 9999;
}

#mainScroll.mainScrollSubsite {
  position: relative;
  top: 0;
}

/*START SUBSITE CONTACT*/
.contact .contactBox ul {
  padding-top: 20px;
}
.contact .contactBox ul li {
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}
@media (max-width: 991px) {
  .contact .contactBox ul li {
    font-size: 18px;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .contact .contactBox ul li {
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 568px) {
  .contact .contactBox ul li {
    font-size: 14px;
    font-weight: 400;
  }
}
.contact .contactBox ul li span {
  color: #1d3971;
}

/*END SUBSITE CONTACT*/
/*START SUBSITE ABOUT*/
.about {
  display: block;
}
.about .minheight {
  min-height: 70vh;
}
.about .sectionBox {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .about .sectionBox {
    width: 60%;
  }
}
@media (max-width: 568px) {
  .about .sectionBox {
    width: 98%;
  }
}
.about .aboutBox ul {
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .about .aboutBox ul {
    font-size: 18px;
    font-weight: 400;
  }
}
@media (max-width: 568px) {
  .about .aboutBox ul {
    font-size: 14px;
    font-weight: 400;
  }
}
.about .aboutBox ul li {
  padding-top: 20px;
}
.about .aboutBox ul li span {
  color: #1d3971;
}

.aboutDescription {
  display: block;
  background: no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 991px) {
  .aboutDescription {
    background-attachment: scroll;
  }
}
.aboutDescription .sectionBox {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .aboutDescription .sectionBox {
    width: 60%;
  }
}
@media (max-width: 568px) {
  .aboutDescription .sectionBox {
    width: 98%;
  }
}
.aboutDescription ul {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .aboutDescription ul {
    font-size: 18px;
    font-weight: 400;
  }
}
@media (max-width: 568px) {
  .aboutDescription ul {
    font-size: 14px;
    font-weight: 400;
  }
}
.aboutDescription ul li {
  padding-top: 20px;
}

.aboutIconSection .IconContainer {
  padding-top: 70px;
  width: 50%;
}
@media (max-width: 1200px) {
  .aboutIconSection .IconContainer {
    width: 60%;
  }
}
.aboutIconSection .IconContainer .aboutIcon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #1d3971;
  width: 190px;
  height: 190px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .aboutIconSection .IconContainer .aboutIcon {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 768px) {
  .aboutIconSection .IconContainer .aboutIcon {
    width: 100px;
    height: 100px;
  }
}
.aboutIconSection .IconContainer .aboutIcon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .aboutIconSection .IconContainer .aboutIcon img {
    width: 40px;
    height: 50px;
  }
}
.aboutIconSection .IconContainer .aboutIconDescription {
  padding: 30px 25px 0px 25px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .aboutIconSection .IconContainer .aboutIconDescription {
    padding: 15px 5px 15px 5px;
  }
}
.aboutIconSection .IconContainer .aboutIconDescription p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}
@media (max-width: 991px) {
  .aboutIconSection .IconContainer .aboutIconDescription p {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .aboutIconSection .IconContainer .aboutIconDescription p {
    font-size: 14px;
    font-weight: 400;
  }
}

/*END SUBSITE ABOUT*/
/*START SUBSITE TEAM*/
.teamSection {
  padding: 70px 0 70px 0;
}
.teamSection .breakLineCenter {
  margin-bottom: 70px;
}
.teamSection .row {
  border-radius: 50px;
}
.teamSection .row .imgTeam {
  height: 450px;
  background: no-repeat;
  background-size: cover;
}
@media (max-width: 568px) {
  .teamSection .row .imgTeam {
    height: 250px;
  }
}
.teamSection .row .teamBox {
  height: 450px;
  background-color: #ebebeb;
}
.teamSection .row .teamDescription {
  padding: 40px 0 0 40px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 568px) {
  .teamSection .row .teamDescription {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0 0 10px;
  }
}
@media (max-width: 568px) {
  .teamSection .row .teamDescription h2 {
    font-size: 18px;
    font-weight: 400;
  }
}
.teamSection .row .teamDescription ul li:last-child {
  padding-top: 30px;
}
.teamSection .row .teamDescription p {
  padding-top: 30px;
}

/*END SUBSITE TEAM*/
/*START SUBSITE SPECIALIZATION*/
.specializationSection {
  padding: 70px 0 70px 0;
}
.specializationSection .row {
  margin-top: 80px;
}
.specializationSection .row .specializationButton {
  width: 100%;
  border: 1px solid #1d3971;
  border-bottom: none;
  padding: 10px 0 10px 0;
  font-size: 25px;
  font-weight: 600;
  color: #4a4a4a;
  background: url("../images/blueArrowRight.png") no-repeat 98% 50%;
}
.specializationSection .row .specializationButton:hover {
  background: #1d3971 url("../images/whiteArrowRight.png") no-repeat 98% 50%;
  color: #ffffff;
}
@media (max-width: 568px) {
  .specializationSection .row .specializationButton {
    font-size: 18px;
    font-weight: 600;
  }
}
.specializationSection .row .showBox:last-child .specializationButton {
  border-bottom: 1px solid #1d3971;
}
.specializationSection .row .specializationButtonBlue {
  color: #ffffff;
  background: #1d3971 url("../images/whiteArrowDown.png") no-repeat 98% 50%;
}
.specializationSection .row .specializationButtonBlue:hover {
  background: #1d3971 url("../images/whiteArrowDown.png") no-repeat 98% 50%;
  color: #ffffff;
}
.specializationSection .row .showMore {
  display: none;
  background-color: #ebebeb;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #1d3971;
  padding: 30px;
}
.specializationSection .row .showMore ul {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 568px) {
  .specializationSection .row .showMore ul {
    font-size: 16px;
    font-weight: 300;
  }
}
.specializationSection .row .showMore ul li:last-child {
  padding-top: 30px;
}
.specializationSection .row .showBox:last-child .showMore {
  border-bottom: 1px solid #1d3971;
}

/*# sourceMappingURL=style.css.map */
