/*BASE FONTS*/
$openSans: 'Open Sans';

/*END BASE FONTS*/

/*BASE FONT COLORS*/
$primaryTextColor: #ffffff;
$secondaryTextColor: #4a4a4a;
$thirdTextColor: #1d3971;
$fourthTextColor: #dc5959;

/*END BASE FONT COLORS*/

/*BASE COLORS*/
$white: #ffffff;
$black: #000000;
$blue: #1d3971;
$grey: #ebebeb;
$lightenBlue: #2c4475;

/*END BASE COLORS*/

/*MIXINS*/

@mixin font($fontSize: 16px, $fontWeight: 400) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin flexBox($flexWrap: nowrap, $justifyContent: flex-start, $alignItems: stretch, $alignContent: stretch) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  align-content: $alignContent;
}

@mixin prefix($style,$value) {
  -webkit-#{$style}: $value;
  -moz-#{$style}: $value;
  -o-#{$style}: $value;
  #{$style}: $value;
}

@mixin media($query, $maxOrMin: max ) {
  @media (#{$maxOrMin}-width: $query) {
    @content;
  }
}

/*END MIXINS*/

/*DEFAULT STYLES*/

* {
  box-sizing: border-box;
  position: relative;

  @include prefix(outline, none);
}

html, body {
  font-family: $openSans;
  font-size: 16px;
  overflow-x: hidden;

}

a {
  color: $secondaryTextColor;
  text-decoration: none;

  &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
  }
}

//FIX pointNavbar

.nav > li > a {
  padding: 0;
}

/*END DEFAULT STYLES*/

/*USEFULL STYLES*/

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.click-class {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.blackPattern {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba($black, 0.2);
}

.blackPattern2 {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba($black, 0.4);
}

.imagePattern {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/patern.png") repeat;
}

.colorTextWhite {
  color: $primaryTextColor;
}

.colorTextGrey {
  color: $secondaryTextColor;
}

.colorTextBlue {
  color: $thirdTextColor;
}

.colorTextRed {
  color: $fourthTextColor;
}

.breakLineCenter {
  display: block;
  height: 2px;
  max-width: 164px;
  width: 100%;
  margin: 30px auto;
  background: $blue;

  @include media(991px) {
    margin: 20px auto;
  }
  @include media(768px) {
    max-width: 80px;
    margin: 10px auto;
  }
}

.breakLineLeft {
  display: block;
  height: 2px;
  max-width: 80px;
  width: 100%;
  margin: 30px 0;
  background: $blue;
}

.minheight {
  min-height: 100vh;
  display: block;
}

.sectionBox {
  padding: 70px 0 70px 0;
  z-index: 10;

  @include media(768px) {
    padding: 40px 0 40px 0;
  }

}

//main class
.mainSectionCenter {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 50%;
  @include prefix(transform, translate(-50%, -50%));

  @include media(568px) {
    width: 90%;
  }
}

//main logo
.logo {
  margin-bottom: 100px;
  img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 160px;

  }

  @include media(991px) {
    margin-bottom: 80px;
  }

  @include media(768px) {
    margin-bottom: 60px;
  }

  @include media(568px) {
    margin-bottom: 40px;
  }
}

//text main
.mainDescription {
  text-align: center;
  font-family: $openSans, sans-serif;
  font-style: italic;
  margin-bottom: 100px;
  h2 {
    line-height: 1.2;
    letter-spacing: 1.2px;
    margin: 0;
    @include font(40px, 300);

    @include media(1200px) {
      @include font(30px, 300);
    }

    @include media(991px) {
      @include font(20px, 300);
    }

    @include media(768px) {
      @include font(15px, 300)
    }

    @include media(568px) {
      @include font(14px, 300)
    }
  }
}

//page scroll
.bottomArrow {
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 4;
  @include media(768px) {
    bottom: 50px;
  }

  &:hover {
    -webkit-animation: mymove 3s infinite; /* Chrome, Safari, Opera */
    animation: mymove 3s infinite;

    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
      0% {
        bottom: 130px;
      }
      50% {
        bottom: 100px;
      }
      100% {
        bottom: 130px;
      }
    }

    /* Standard syntax */
    @keyframes mymove {
      0% {
        bottom: 130px;
      }
      50% {
        bottom: 100px;
      }
      100% {
        bottom: 130px;
      }
    }

    @include media(768px) {

      /* Chrome, Safari, Opera */
      @-webkit-keyframes mymove {
        0% {
          bottom: 50px;
        }
        50% {
          bottom: 35px;
        }
        100% {
          bottom: 50px;
        }
      }

      /* Standard syntax */
      @keyframes mymove {
        0% {
          bottom: 50px;
        }
        50% {
          bottom: 35px;
        }
        100% {
          bottom: 50px;
        }
      }
    }
  }

  @include prefix(transform, translate(-50%, 0));

  a {
    background: transparent;
    border: 0;
  }
}

/*END USEFULL STYLES*/

/*MENU HEADER*/
#menu {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  border-top: 1px $white solid;
  z-index: 10;

  @include media(768px) {
    display: none;
  }
}

.navMenu {
  list-style: none;
  color: $primaryTextColor;
  display: table;
  margin: 0 auto;

  li {
    float: left;
    @include font(20px, 400);

    a {
      color: $primaryTextColor;
      display: block;
      padding: 10px 25px;
    }
  }
}

//MENU MOBILE
.menuMobile {
  display: none;
  min-width: 100vw;
  width: 100%;
  height: auto;
  background: rgba($blue, 0.8);
  position: fixed;
  top: -300px;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0;
  @include prefix(transition, all 1s);

  @include media(768px) {
    display: block;
  }

  .navMenuMobile {
    list-style: none;
    color: $primaryTextColor;
    display: table;
    margin: 0 auto;

    a {
      display: block;
      text-align: center;
      @include font(20px, 400);
      padding: 10px;
      letter-spacing: 1.2px;
      color: $primaryTextColor;
    }
  }
}

.showMenuMobile {
  opacity: 1;
  visibility: visible;
  top: 0;
}

//hamburger style and animation
#hamburger {
  display: none;
  width: 40px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 99999;

  @include prefix(transform, rotate(0deg));
  @include prefix(transition, .5s ease-in-out);

  @include media(768px) {
    display: block;
  }
}

#hamburger span {
  position: absolute;
  left: 0;
  height: 6px;
  width: 100%;
  background: $white;
  border-radius: 7px;
  opacity: 1;

  @include prefix(transform, rotate(0deg));
  @include prefix(transition, .25s ease-in-out);
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 12px;
}

#hamburger span:nth-child(3) {
  top: 24px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;

  @include prefix(transform, rotate(135deg));
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 18px;

  @include prefix(transform, rotate(-135deg));
}

//END MENU MOBILE

//MENU SCROLL

header#mainScroll {
  position: fixed;
  background-color: $white;
  top: -100px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  color: $secondaryTextColor;
  min-height: 80px;
  border-bottom: 2px solid $blue;
  transition: all 0.5s;

  @include media(768px) {
    display: none;
  }

  .logoMainScroll {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 50px;
    width: 200px;

    @include media(991px) {
      top: 17px;
      left: 20px;
      height: 40px;
      width: 150px;
    }
  }

  .menuHolder {
    position: absolute;
    display: table;
    z-index: 5;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%));

    @include media(1200px) {
      @include prefix(transform, translate(-35%, -50%));
    }

    ul.navMenuScroll {
      list-style: none;
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-right: 50px;

        @include font(18px, 600);

        @include media(1200px) {
          margin-right: 30px;
        }

        @include media(991px) {
          margin-right: 10px;
          @include font(15px, 400);
        }

      }
    }
  }

  .socialHolder {
    position: absolute;
    top: 25px;
    right: 20px;

    ul.social {

      li {
        display: inline-block;

        .buttonPhone {
          border: none;
          background: transparent;
        }

        .buttonMail {
          border: none;
          background: transparent;
          margin-right: 10px;
        }

        .mailDropDown {
          right: 0;
          left: initial;
          border: 1px solid $blue;

          a {
            color: $secondaryTextColor;
          }
        }

        .phoneDropDown {
          right: 0;
          left: initial;
          border: 1px solid $blue;

          a {
            color: $secondaryTextColor;
          }
        }
      }
    }
  }
}

//HIDE and SHOW MENU
.menuHide {
  visibility: hidden !important;
  opacity: 0 !important;
  top: -170px !important;
}

.menuShow {
  top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

/*END MENU HEADER*/

/*SECTION MAIN*/

.mainSection {
  min-height: 100vh;
  display: block;

  background: no-repeat center center;
  background-size: cover;
}

/*END SECTION MAIN*/

/*SECTION OFFER*/
.offer {
  display: block;

}

.sectionCenter {
  top: 0;
  margin-top: 70px;
  @include prefix(transform, translate(-50%, 0));

  @include media(768px) {
    margin-top: 30px;
  }

}

//SECTION DESCRIPTION
.sectionDescription {
  margin-bottom: 25px;
  font-style: normal;

  h2 {
    font-weight: 600;
  }
}

//Carousel
.offerCarousel {
  padding-top: 40px;
  margin: 0 auto;
  width: 60%;

  @include media(1200px) {
    width: 80%;
  }

  @include media(991px) {
    width: 85%;
  }

  @include media(768px) {
    width: 90%;
    top: 60%;
  }

  .carousel-inner {
    width: 80%;
    margin: 0 auto;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
    width: 15%;
  }

  .carousel-control {
    top: 20%;

    @include media(768px) {
      top: 30%;
    }
  }

  .offerBox {
    @include media(768px) {
      height: 115px;
    }
  }

  .offerIcon {
    @include prefix(border-radius, 50%);
    border: 1px solid $blue;
    width: 190px;
    height: 190px;
    margin: 0 auto;

    @include media(991px) {
      width: 140px;
      height: 140px;
      padding: 40px;
    }

    @include media(768px) {
      width: 60px;
      height: 60px;
      padding: 20px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      @include prefix(transform, translate(-50%, -50%));

      @include media(768px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .offerDescription {
    padding: 30px 25px 0 25px;
    height: 110px;

    @include media(768px) {
      padding: 15px 25px 15px 25px;
    }

    p {
      @include font(18px, 300);
      font-family: $openSans;
      font-weight: 400;
      text-align: center;

      @include media(991px) {
        @include font(16px, 500);
      }
      @include media(768px) {
        @include font(14px, 400);
      }
    }
  }
}

/*END SECTION OFFER*/

/*START SECTION SPECIALIZATION*/

.specialization {
  display: block;

  background: no-repeat center center fixed;
  background-size: cover;

  @include media(991px){
    background-attachment: scroll;
  }


}

.aboutSection {
  text-align: center;
  padding: 80px 100px 100px 100px;

  @include media(991px) {
    padding: 50px 20px 50px 20px;
  }

  h3 {
    color: $primaryTextColor;
    margin: 0;
    @include font(40px, 300);
    font-family: $openSans;
    font-style: italic;

    @include media(1200px) {
      @include font(30px, 300);
    }

    @include media(991px) {
      @include font(20px, 300);
    }

  }
}

//button more
.buttonMore {
  position: relative;
  outline: none;
  background: $blue;
  cursor: pointer;
  max-width: 210px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 20px 0;
  @include font(20px, 400);
  @include prefix(transition, all 0.3s);
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    @include prefix(transition, all 0.3s);
  }

  @include media(768px) {
    @include font(14px, 400);
  }
}

.buttonMore-1 {
  color: $primaryTextColor;
  z-index: 2;
}

.buttonMore-2 {
  border: 2px solid $white;

  &::after {
    width: 101%;
    height: 0;
    top: -1px;
    left: -1px;
    background: $white;

  }

  &:hover, &:active, &:focus {
    color: $thirdTextColor;
    z-index: 1;

    &::after {
      height: 102%;
    }
  }

}

/*END SECTION SPECIALIZATION*/

/*START SECTION RECOMMENDATION*/
.recommendation {
  display: block;

}

//Carousel Recommendation
.recommendationCarousel {
  margin: 0 auto;
  width: 60%;

  @include media(1200px) {
    width: 70%;
  }

  @include media(991px) {
    width: 80%;
  }

  @include media(768px) {
    width: 90%;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
    width: 12%;
  }

  .carousel-control {
    top: 28%;
  }

  .recommendationBox {
    width: 35%;
    margin: 0 auto;

    @include media(1200px) {
      width: 45%;
    }

    @include media(991px) {
      width: 60%;
    }

    @include media(768px) {
      width: 70%;
    }

    h2 {
      text-align: center;
      color: $secondaryTextColor;
      @include font(20px, 600);
      font-family: $openSans;
      font-style: italic;
      letter-spacing: 1px;
      line-height: 2;

      @include media(768px) {
        @include font(16px, 600);
      }
    }
    h3 {
      text-align: center;
      @include font(20px, 600);
      color: $thirdTextColor;
      letter-spacing: 1px;

      @include media(768px) {
        @include font(16px, 600);
      }
    }
  }

}

/*END SECTION RECOMMENDATION*/

/*START SECTION MEETUS*/

.meetus {
  display: block;
  background: no-repeat center center;
  background-size: cover;

}

.mainSectionColumn {
  width: 60%;
}

.aboutSectionColumn {
  padding: 50px 20px 120px 20px;

  @include media(991px) {
    padding: 50px 20px 50px 20px;
  }
}

/*END SECTION MEETUS*/

/*START SECTION ABOUTOFFICE*/

.aboutoffice {
  display: block;
  background: no-repeat center center;
  background-size: cover;
}

/*END SECTION ABOUTOFFICE*/

/*START SECTION MAP*/

#map_page {
  width: 100%;

  #map {
    width: 100%;
    height: 450px;
  }
}

/*END SECTION MAP*/

/*START SECTION CONTACT*/
.contactForm {

  .minheight {
    min-height: 90vh;
  }
;

  .form {
    width: 60%;
    padding: 250px 0 60px 0;
    margin: 0 auto;

    @include media(991px) {
      padding: 150px 0 60px 0;
      width: 80%;
    }

    @include media(568px) {
      padding: 100px 0 30px 0;
      width: 90%;
    }

    .contact-form {
      height: 60px;
      border: 1px solid $blue;
      margin-bottom: 30px;
      border-radius: 0;
      color: $secondaryTextColor;
      font-family: $openSans;
      @include font(20px, 300);

      @include media(991px) {
        @include font(16px, 300);
      }

      @include media(568px) {
        margin-bottom: 10px;
        @include font(14px, 300);
      }
    }

    .contact-area {
      display: block;
      width: 100%;
      padding: 6px 12px;
      border: 1px solid $blue;
      color: $secondaryTextColor;
      font-family: $openSans;
      @include font(20px, 300);
      min-height: 150px;
      border-radius: 0;

      @include media(991px) {
        @include font(16px, 300);
      }
    }
  }

  .buttonMore {
    background-color: $blue;
    padding: 20px 80px 20px 80px;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      @include prefix(transition, all 0.3s);
    }

    @include media(768px) {
      @include font(14px, 400);
    }
  }

  .buttonMore-1 {
    color: $primaryTextColor;
    z-index: 2;
  }

  .buttonMore-2 {
    border: 2px solid $blue;

    &::after {
      width: 101%;
      height: 0;
      top: -1px;
      left: -1px;
      background: $white;

    }

    &:hover, &:active, &:focus {
      color: $thirdTextColor;
      z-index: 1;

      &::after {
        height: 102%;
      }
    }

  }

  .iconContact {
    padding: 50px 0 70px 0;
    display: block;

    @include media(568px) {
      padding: 30px 0 50px 0;
    }

    ul {
      list-style: none;

      @include flexBox(wrap,center,center,center);

      li {
        display: inline-block;
        margin-top: 20px;
        padding-right: 20px;

        img {
          padding: 3px 20px 0 0;
          float: left;
        }
      }
    }

  }

}

/*END SECTION CONTACT*/

/*START SECTION FOOTER*/

.footerLogo {
  background-color: $lightenBlue;
  .minheight {
    min-height: 15vh;
  }

  .logoFooter {
    margin-bottom: 0;

    img {
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 150px;

      @include media(768px) {
        width: 100px;
        height: 100px;
      }
    }
  }
}

footer {
  background-color: $blue;
  width: 100%;
  height: 50px;

  .copyright {
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;

    p {
      font-family: $openSans, sans-serif;
      @include font(16px, 400);

      @include media(768px) {
        @include font(12px, 400);
      }

      a {
        color: $fourthTextColor;

        &:hover, &:focus, &:active {
          color: $fourthTextColor;
        }
      }
    }
  }
}

/*END SECTION FOOTER*/

/*START SUBSITE*/

.mainSectionSubsite {
  min-height: 350px;
  display: block;
  background: no-repeat center center;
  background-size: cover;

  .minheight {
    min-height: inherit;
  }

}

//Menu subsite

#page-top #mainScroll.mainScrollFixed {
  position: fixed;
  z-index: 9999;
}

#mainScroll.mainScrollSubsite {
  position: relative;
  top: 0;
}

//End menu subsite

/*START SUBSITE CONTACT*/
.contact {
  .contactBox {

    ul {
      padding-top: 20px;

      li {
        color: $secondaryTextColor;
        font-family: $openSans, sans-serif;
        @include font(20px, 400);
        text-align: center;
        letter-spacing: 1px;

        @include media(991px) {
          @include font(18px, 400);
        }

        @include media(768px) {
          @include font(16px, 400);
        }

        @include media(568px) {
          @include font(14px, 400);
        }

        span {
          color: $thirdTextColor;
        }
      }

    }
  }
}

/*END SUBSITE CONTACT*/

/*START SUBSITE ABOUT*/

.about {
  display: block;
  .minheight {
    min-height: 70vh;

  }

  .sectionBox {
    width: 50%;
    margin: 0 auto;

    @include media(1200px) {
      width: 60%;
    }

    @include media(568px) {
      width: 98%;
    }
  }

  .aboutBox {
    ul {
      color: $secondaryTextColor;
      font-family: $openSans, sans-serif;
      @include font(20px, 400);
      text-align: center;

      letter-spacing: 1px;

      @include media(768px) {
        @include font(18px, 400);
      }

      @include media(568px) {
        @include font(14px, 400);
      }

      li {
        padding-top: 20px;
        span {
          color: $thirdTextColor;
        }
      }

    }
  }
}

.aboutDescription {
  display: block;
  background: no-repeat center center fixed;
  background-size: cover;

  @include media(991px){
    background-attachment: scroll;
  }

  .sectionBox {
    width: 50%;
    margin: 0 auto;

    @include media(1200px) {
      width: 60%;
    }

    @include media(568px) {
      width: 98%;
    }
  }

  ul {
    font-family: $openSans, sans-serif;
    @include font(20px, 300);
    text-align: center;
    letter-spacing: 1px;

    @include media(768px) {
      @include font(18px, 400);
    }

    @include media(568px) {
      @include font(14px, 400);
    }

    li {
      padding-top: 20px;
    }
  }
}

.aboutIconSection {

  .IconContainer {
    padding-top: 70px;
    width: 50%;

    @include media(1200px) {
      width: 60%;
    }

    .aboutIcon {
      @include prefix(border-radius, 50%);
      border: 1px solid $blue;
      width: 190px;
      height: 190px;
      margin: 0 auto;

      @include media(991px) {
        width: 140px;
        height: 140px;
      }

      @include media(768px) {
        width: 100px;
        height: 100px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        @include prefix(transform, translate(-50%, -50%));

        @include media(768px) {
          width: 40px;
          height: 50px;
        }
      }
    }

    .aboutIconDescription {
      padding: 30px 25px 0px 25px;
      margin-bottom: 30px;

      @include media(992px) {
        padding: 15px 5px 15px 5px;
      }

      p {
        @include font(16px, 300);
        font-family: $openSans;
        font-weight: 400;
        text-align: center;

        @include media(991px) {
          @include font(16px, 500);
        }
        @include media(768px) {
          @include font(14px, 400);
        }
      }
    }
  }
}

/*END SUBSITE ABOUT*/

/*START SUBSITE TEAM*/

.teamSection {
  padding: 70px 0 70px 0;

  .breakLineCenter {
    margin-bottom: 70px;
  }

  .row {
    border-radius: 50px;

    .imgTeam {
      height: 450px;
      background: no-repeat;
      background-size: cover;

      @include media(568px) {
        height: 250px;
      }
    }

    .teamBox {
      height: 450px;
      background-color: $grey;
    }

    .teamDescription {
      padding: 40px 0 0 40px;
      font-family: $openSans;
      @include font(18px, 300);

      @include media(568px) {
        @include font(16px, 300);
        padding: 20px 0 0 10px;
      }

      h2 {
        @include media(568px) {
          @include font(18px, 400);
        }
      }

      ul {

        li:last-child {
          padding-top: 30px;
        }
      }

      p {
        padding-top: 30px;
      }
    }
  }
}

/*END SUBSITE TEAM*/

/*START SUBSITE SPECIALIZATION*/

.specializationSection {
  padding: 70px 0 70px 0;

  .row {
    margin-top: 80px;

    .specializationButton {
      width: 100%;
      border: 1px solid $blue;
      border-bottom: none;
      padding: 10px 0 10px 0;
      @include font(25px, 600);
      color: $secondaryTextColor;
      background: url("../images/blueArrowRight.png") no-repeat 98% 50%;

      &:hover {
        background: $blue url("../images/whiteArrowRight.png") no-repeat 98% 50%;
        color: $white;
      }

      @include media(568px) {
        @include font(18px, 600);
      }

    }

    .showBox:last-child .specializationButton {
      border-bottom: 1px solid $blue;
    }

    .specializationButtonBlue {
      color: $primaryTextColor;
      background: $blue url("../images/whiteArrowDown.png") no-repeat 98% 50%;

      &:hover {
        background: $blue url("../images/whiteArrowDown.png") no-repeat 98% 50%;
        color: $white;
      }
    }

    .showMore {
      display: none;
      background-color: $grey;
      border-style: solid;
      border-width: 0 1px 0 1px;
      border-color: $blue;
      padding: 30px;

      ul {
        @include font(20px, 300);

        @include media(568px) {
          @include font(16px, 300);
        }

        li {

          &:last-child {
            padding-top: 30px;
          }
        }
      }

    }

    .showBox:last-child .showMore {
      border-bottom: 1px solid $blue;
    }

  }
}